<?xml version="1.0"?>
<model>
  <name>Air Defense Turret</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Mert</name>
    <email>mert@teknofest.com</email>
  </author>
  <description>
    Teknofest Hava Savunma Sistemi - Pan-Tilt Turret
    Kamera ve IMU sensörleri ile donatılmış döner kule
  </description>
</model>
